<div id="dialog-box" class="hidden fixed z-40 h-screen w-screen top-0 left-0 bg-black/60 items-center">
  <div class="mx-auto shadow-low py-6 px-8 rounded-md bg-white w-96 text-center">
    <img class="mx-auto mb-6" src="/images/beepbeep.png" alt="beepbeep">
    <h1 class="font-bold mb-4">Menghapus Data Mobil</h1>
    <p class="text-sm font-light mb-6">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?
    </p>
    <div>
      <a onclick="handleDeleteCar()" class="mr-4 btn-primary w-20" type="button">Ya</a>
      <a onclick="closeDialogBox()" class="btn-outline w-20" type="button">Tidak</a>
    </div>
  </div>
</div>