<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <div class="2xl:container h-screen m-auto flex">
    <div class="w-0 md:w-1/2 xl:w-auto my-auto bg-darkblue05">
      <img class="h-screen 2xl:h-auto object-cover opacity-80" src="/images/cars.png" alt="cars">
    </div>
    <main class="mx-14 m-auto w-[370px]">
      <%- body %>
    </main>
  </div>
</body>

</html>